<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"
  style="z-index: 100;"
>
  <div class="container-fluid">
    <div id="widget-navigation" class="d-flex" style="visibility: hidden;">
      <button
        type="button"
        class="btn text-light position-relative"
        onclick="toggleFilter()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-funnel-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"
          />
        </svg>
        <span
          id="filter-badge"
          class="position-absolute top-0 right-0 badge rounded-circle bg-danger p-1"
          style="visibility: hidden;"
        >
          <span class="visually-hidden">New alerts</span>
        </span>
      </button>
      <button
        id="widget-navigation-toggler"
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#widget-navigation-list"
        aria-controls="widget-navigation-list"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="widget-navigation-list">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="applicationDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Application Widget
            </a>
            <ul class="dropdown-menu" aria-labelledby="applicationDropdown">
              <li><button
                  class="btn dropdown-item"
                  onclick="openWidget('application', '642d1cbecc73fd539ad4fa1d')"
                >Dashboard App</button></li>
              <li><button
                  class="btn dropdown-item"
                  onclick="openWidget('application', '61013f028ce0728b95d58813')"
                >Signal HQ PHI</button></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex">
      <a class="btn btn-primary" id="login">LOGIN</a>
    </div>
  </div>
</nav>
<div id="main-content" class="container-fluid g-0">
  <div class="row g-0 h-100 justify-content-end">
    <nav
      id="application-navigation"
      class="col-3 bg-light d-block border-end"
      style="display: none;"
    >
      <div class="position-sticky pt-3">
        <ul id="application-pages" class="nav flex-column"></ul>
      </div>
    </nav>
    <main id="widget" class="col h-100"></main>
  </div>
</div>
<script
  type="text/javascript"
  src="/widgets/javascripts/oidc-client.min.js"
></script>
<script type="text/javascript" src="/widgets/javascripts/main.js"></script>
<script
  type="text/javascript"
  src="/widgets/javascripts/app-builder.js"
></script>
{{! <script type="text/javascript" src="https://oort-dev.oortcloud.tech/widgets/app-builder.js"></script> }}